@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-lg px-10 py-4 shadow-lg text-[1.6rem] border-2 border-b-[2.5px] border-transparent hover:bg-white duration-500;
}

.btn--primary {
  @apply bg-primary-softRed text-white hover:border-primary-softRed hover:text-primary-softRed;
}

.btn--secondary {
  @apply bg-primary-softBlue text-white hover:border-primary-softBlue hover:text-primary-softBlue;
}

.btn--extension {
  @apply bg-primary-softBlue text-white py-6 hover:border-primary-softBlue hover:text-primary-softBlue;
}

.btn--tertiary {
  @apply bg-slate-200 text-neutral-veryDarkBlue hover:border-neutral-veryDarkBlue hover:text-neutral-veryDarkBlue;
}

.btn--phone {
  @apply text-white py-4 w-full border-white text-18 border-b-2 hover:text-neutral-veryDarkBlue;
}

.btn--observe {
  transition: background-color 0.5s, border 0.5s, opacity 3s;
}

.spaced-center {
  @apply flex justify-between items-center;
}
.h2 {
  @apply text-neutral-veryDarkBlue font-medium text-[3.5rem]/[normal] max-tp:text-[3.25rem]/[normal];
}
.h3 {
  @apply font-medium text-4xl text-neutral-veryDarkBlue;
}

.card {
  @apply max-w-[32rem] w-[100%] text-center overflow-hidden opacity-0 text-18/[normal] rounded-xl shadow-lg duration-1000;
}

.dotted-line {
  @apply w-max text-4xl text-slate-300 relative left-1/2 transform -translate-x-1/2 tracking-[1rem];
}

.icon-links {
  @apply w-[2.4rem] fill-white hover:fill-primary-softRed cursor-pointer duration-500;
}

.px {
  @apply px-[15rem] max-tl:px-40 max-tp:px-[7rem] max-sm:px-[6%];
}

.text-width {
  @apply max-w-[53rem] w-[100%] mx-auto text-center;
}

.text-width-port {
  @apply max-tp:max-w-[70rem] max-tp:w-[100%] max-tp:mx-auto max-tp:text-center;
}

.feature-tab-btn {
  @apply px-14 py-8 font-medium relative hover:text-primary-softRed duration-500 max-tp:px-10  max-sm:px-4 max-sp:px-1;
}

/* Nav animation functionality  */
.nav-link {
  @apply animate-loadNavLink;
}

.nav-stick {
  @apply sticky top-0 h-32 shadow-md bg-neutral-veryDarkBlue text-white -translate-y-full invisible opacity-0 max-sm:h-24;
}

.nav-stick label span {
  @apply bg-white;
}

.nav-show {
  @apply opacity-100 visible translate-y-0 duration-700;
}

/* Section animation */
.section--hidden {
  @apply opacity-0 translate-y-[10%];
}

/* Custom CSS */

/*=============== Menu trigger bar checked =============== */
#header-checkbox:checked ~ label .open .first-line {
  @apply animate-go;
}

#header-checkbox:checked ~ label .open .sec-line {
  @apply animate-go2;
}

#header-checkbox:checked ~ label .open .third-line {
  @apply animate-go3;
}

/* Not checked  */
#header-checkbox:not(:checked) ~ label .open .first-line {
  @apply animate-goBack;
}

#header-checkbox:not(:checked) ~ label .open .sec-line {
  @apply animate-goBack2;
}

#header-checkbox:not(:checked) ~ label .open .third-line {
  @apply animate-goBack3;
}

/* Close menu  */
#header-checkbox::before:checked ~ label .close {
  @apply top-0 left-0 delay-700;
}
#header-checkbox::after:checked ~ label .close {
  @apply bottom-0 right-0 delay-700;
}

/* Display menu dropdown */
#header-checkbox:checked ~ .phone-nav {
  @apply max-sm:block h-[100vh] delay-[0.4s];
}

/* Logo functionality  */
header #header-checkbox:checked ~ .wrap .logo-header {
  @apply !opacity-0 delay-0;
}
header #header-checkbox:checked ~ .wrap .logo-phone {
  @apply !opacity-100 delay-700;
}

/* Transition timing function  */
.ease-custom {
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*=============== Question dropdown functionality =============== */
#question-checkbox1:checked + label svg,
#question-checkbox2:checked + label svg,
#question-checkbox3:checked + label svg,
#question-checkbox4:checked + label svg {
  @apply rotate-180 stroke-primary-softRed;
}
#question-checkbox1:checked ~ .answer,
#question-checkbox2:checked ~ .answer,
#question-checkbox3:checked ~ .answer,
#question-checkbox4:checked ~ .answer {
  @apply grid-rows-[1fr];
}

.answer p {
  @apply transform translate-y-10 duration-500;
}

#question-checkbox1:checked ~ .answer p,
#question-checkbox2:checked ~ .answer p,
#question-checkbox3:checked ~ .answer p,
#question-checkbox4:checked ~ .answer p {
  @apply translate-y-0 delay-100;
}

/* revealcard: "revealCard 2s ease both"; */

/* Card reveal Animation */
.reveal-card--1 {
  animation: revealCard1 2s ease both;
}

.reveal-card--2 {
  animation: revealCard2 2s ease 0.5s both;
}

.reveal-card--3 {
  animation: revealCard3 2s ease 1s both;
}

@media (max-width: 900px) {
  .reveal-card--1,
  .reveal-card--3 {
    animation: revealCard2 2s ease both;
  }
}

@keyframes revealCard1 {
  from {
    transform: translateY(40%);
    opacity: 0;
  }
  to {
    transform: translateY(-10%);
    opacity: 1;
  }
}

@keyframes revealCard2 {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes revealCard3 {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(10%);
    opacity: 1;
  }
}
/* npm-run-all --parallel devserver watch:tailwind */
